body{
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.button-container {
  margin: auto;
  margin-top: 20px;
  width: fit-content;
}

input {
  margin-bottom: 15px;
  width: 100%;
}

.fondo {
}